#title {
    color: #101010;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#mainwindow {
    text-align: left;
    margin: 0 auto;
    background: rgb(26, 26, 26);
    border: 1px ghostwhite solid;
    padding: 1em;
    min-width: 800px;
    width: 85%;
    color: ghostwhite;
}

#infobox {
    padding-left: 2px;
}

.externlink {
}

.nohover {
}

.namespace {
}

body {
    background: darkslategray;
    font-family: Tahoma,Verdana,sans;
    font-size: 14px;
}

ul {
    list-style-type: none
}

li {
    color: ghostwhite;
}

p {
    display: block;
}

a:hover {
    color: cadetblue;
    cursor: default;
}

a:link {
    color: ghostwhite;
}

.externlink:hover {
    color: darkorange !important;
}

.nohover:hover {
    color: inherit !important;
}

.namespace:hover {
    padding-left: 2px;
}

#mainwindow {
    text-align: left;
    margin: 0 auto;
    background: rgb(26, 26, 26);
    border: 1px ghostwhite solid;
    padding: 1em;
    min-width: 800px;
    width: 85%;
    color: ghostwhite;
}

#nname {
    color: ghostwhite;
    text-decoration: none;
}

.funcbox {
    display: block;
    margin: 5px 0;
    width: 800px;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px darkorange solid;
}

.datatype {
    color: darkorange;
}

.nativeName {
    color: lightgray;
    font-family: consolas,"courier new",courier,monospace;
    font-size: 14px;
}

.hash {
    color: limegreen;
}

.parameterName {
    color: dimgray;
}